
body,html {
    height: 100%;
}

.fill {
    height:500px;
}

/*.fill{*/
    /*min-height: 100%;*/
    /*padding-top: 70px;*/
    /*padding-bottom: 60px;*/
    /*margin-top: -72px;*/
/*}*/
.float-left{
    float: left;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
    /*margin-top: -60px;*/
}


.face:hover {
    animation: shake 1s ;
}

@keyframes shake {

    10% { transform: rotateZ(10deg); }
    20% { transform: rotateZ(-10deg); }
    30%,50% { transform: rotateZ(5deg); }
    40%,60% { transform: rotateZ(-5deg); }
    70% { transform: rotateZ(2deg); }
    80% { transform: rotateZ(-2deg); }
}