/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
/*.row.content {height: 800px}*/

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;}
}

.face:hover {
    animation: shake 0.82s ;

}

@keyframes shake {
    /*10%, 90% {*/
        /*transform: translate3d(-1px, 0, 2px);*/
    /*}*/
    10%, 90% {
        transform: rotateZ(10deg);
    }

    /*20%, 80% {*/
        /*transform: translate3d(2px, 0, -2px);*/
    /*}*/
    20%, 80% {
        transform: rotateZ(-10deg);
    }

    /*30%, 50%, 70% {*/
        /*transform: translate3d(-4px, 0, 2px);*/
    /*}*/
    30%, 50%, 70% {
        transform: rotateZ(10deg);
    }

    /*40%, 60% {*/
        /*transform: translate3d(4px, 0, -2px);*/
    /*}*/
    40%, 60% {
        transform: rotateZ(-10deg);
    }
}